<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Nauta</name>
    <description>
        Aplicativo feito para auxiliar sua aprendizagem e compartilhar seus conhecimentos de Astronomia Náutica e Astronomia com ferramentas dinâmicas e interativas.
    </description>
    <author email="haroldoccj@gmail.com" href="http://eiharold.com">
        Interfaces Livres UFPB
    </author>
    <content src="index.html" />
    <access origin="*" />
    
	<access origin="tel:*" launch-external="yes"/>
	<access origin="sms:*" launch-external="yes"/>
	<plugin name="cordova-plugin-whitelist"/>
	<allow-intent href="*"/>
	<allow-intent href="tel:*"/>
	<allow-intent href="sms:*"/>
	<allow-intent href="mailto:*"/>
	<allow-intent href="geo:*"/>
    <preference name="phonegap-version" value="cli-6.4.0" />
    <icon src="img/icon.png" />
</widget>
