.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
background-color: #280c2b;
}

p {
  text-shadow: none;
  color: #fff;
  font-family: Arial;
}

.botao-azul {
  background: #143e66;
  padding: 30px;
  color: #fff;
  text-shadow: none;
}

.botao-azul a, a:hover, a:visited, a:active, a:link {
  text-decoration: none;
}

#intro1 {
  background: url('bg-gradiente-azul.png');
  background-size: contain;
}

#intro2 {
  background: url('bg-gradiente-roxo.png');
  background-size: contain;
}

#intro3 {
  background: url('bg-gradiente-rosa.png');
  background-size: contain;
}

#intro4 {
  background: url('bg-rosa.png');
  background-size: contain;
}

.box {
  width: 80%;
}
